# Keil MDK
List.
*.lst
*.map
*.m51
*.i
*.axf
*.elf
*.hex
*.bin
*.d
*.o
*.crf
*.dep
*.htm
*.lnp
*.sct
*.build_log.htm
*.uvguix.*
*.uvgui.*
*.uvopt
*.uvproj
*.uvoptx
*.uvprojx
*.scvd
*.dbgconf
*.dbgdt
*.ini
*.txt
*.old
*.bak
*.Administrator
*.25104
*.pbi
*.pbd
*.browse
*.o.d
*.crf.d

# STM32CubeMX
.mxproject
STM32CubeIDE/
EWARM/
MDK-ARM/project/

# OS
.DS_Store
Thumbs.db
