# Keil MDK
List.
*.lst
*.map
*.m51
*.i
*.axf
*.elf
*.hex
*.bin
*.d
*.o
*.crf
*.dep
*.htm
*.lnp
*.sct
*.build_log.htm
*.uvguix.*
*.uvgui.*
*.uvopt
*.uvoptx
*.uvproj
*.uvprojx
*.scvd
*.dbgconf
*.dbgdt
*.ini
# *.txt (Allow txt files for documentation)
*.old
*.bak
*.Administrator
*.25104
*.pbi
*.pbd
*.browse
*.o.d
*.crf.d

# Reference Examples
01-0.96OLED显示屏STM32F103C8T6_IIC例程/

# STM32CubeMX
.mxproject
STM32CubeIDE/
EWARM/
MDK-ARM/project/

# OS
.DS_Store
Thumbs.db
